@using StatesMVCAjaxDemo_CSharp;
@model List<StatesMVCAjaxDemo_CSharp.Models.StateNameEntryModel>

@{ string className = String.Empty; }
@{ string id = String.Empty; }

<!-- just to demostrate that the entire page is not being refreshed -->
<div>
    Last Page Refresh: @DateTime.Now.ToString("hh:mm:ss")
</div>
@foreach (StatesMVCAjaxDemo_CSharp.Models.StateNameEntryModel entry in Model)
{
    if (entry.isSelected) {
        className = "stateNameBlockSelected";
    } else {
        className = "stateNameBlockUnselected";
    }

    
    id = "stateNameEntry_" + entry.stateAbbr;

    <div id="@id" class="@className">
        @if (entry.isSelected) {
            @entry.stateName
        } else {
            @Ajax.ActionLink(entry.stateName, "GetStateDetails", new {id = entry.stateAbbr}, new AjaxOptions {UpdateTargetId = "stateTableCellData", HttpMethod = "GET", OnComplete = "RefreshNameListStyle('" + id + "');"})        
        }
    </div>
    }

<div class="stateNameCreateLabel">
    [&nbsp;@Html.ActionLink("Create New State", "Create", "State")&nbsp;]
</div>

<script type="text/javascript">

    function RefreshNameListStyle(id) {
        // get div that has the class "stateNameBlockSelected", and change
        // the class from "stateNameBlockSelected" to "stateNameBlockUnselected"
        $('div.stateNameBlockSelected').removeClass("stateNameBlockSelected").addClass("stateNameBlockUnselected");
        // set the current state div class to "stateNameBlockSelected"
        $("#" + id).removeClass("stateNameBlockUnselected").addClass("stateNameBlockSelected");
    }

    function DisplayCounties(context) {
        var s = ""

        // first need to convert the json string to a javascript object
        var j = JSON.parse(context.responseText);

        // now can enumerate through the list
        for (var i = 0; i < j.length; i++) {
            s = s + "<div>" + j[i] + "</div>"
        }

        // update the cell containing the label
        $("#cellCountyLabel").html("Counties").removeClass("stateDetailTableCellEdit").addClass("stateDetailTableCellLabel");
        // update the cell containing the list of the counties
        $("#cellCountyListing").html(s).removeClass("stateDetailTableCellEdit").addClass("stateDetailTableCellData");
    }

</script>
